/* 
red quotes : #9F3D3D

*/

@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alef:400,700&display=swap');

@font-face {
    font-family: "Dorian-Book";
    src: url("../assets/dorian/Dorian-Book.sfd") format(sfd);
    src: 
    url("../assets/dorian/DorianCLM-Book.ttf") format("truetype"),
    url("../assets/dorian/DorianCLM-BookItalic.ttf") format("truetype"),
    url("../assets/dorian/Dorian-BookItalic.fea") format("fea");
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Alef', sans-serif;
  background-color: rgb(248, 248, 248);
  text-rendering: optimizeLegibility;
  letter-spacing: 1.5px;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  color: rgb(51, 51, 51);
  background-image: url('../assets/img/stripes-light.png');
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    display: block;
    color: inherit;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
    line-height: 64px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 20px;
    line-height: 42px;
}

p {
    font-size: 16px;
    line-height: 34px;
}

#header-main-header, #site-branding, #section-categories {
    margin-bottom: 40px;
}

#site-branding {
    margin: 50px 0 50px 0;
}

#page-wrapper {
    background-color: rgba(248, 248, 248, 1);
    border-left: 4px solid rgb(237, 237, 237);
    border-right: 4px solid rgb(237, 237, 237);
    
}

/* Header */

#header-main-header {
   position: relative;
}

#bar-top-bar {
    /* border-bottom: 3px solid rgb(223, 223, 223); */
    padding: 20px 0;
    position: relative;
}

#bar-top-bar::after {
    display: block;
    position: relative;
    content: '';
    height: 4px;
    width: 70%;
    margin: 0 auto;
    background-color: rgb(223, 223, 223);
    bottom: -20px;
    margin: 0 auto;
}


#logo-ishayafa img {
    height: 180px;
    width: 215px;
}

.menu-social-menu {
    list-style: none;
    font-size: 16px;
}


#menu-main-menu a {
    text-align: center;
}

#action-sidebar {
    float: right;
    font-size: 16px;
}

#hero {
    height: 400px;
    overflow: hidden;
    position: relative;
}

#hero-img-wrapper {
    width: 100%;
    height: 400px;
    overflow: hidden;
    border: 4px solid rgb(223, 223, 223);
}



#hero img {
    display: block;
    height: 1000px;
    width: 100%;
    object-fit: cover;
    object-position: right -500px;
    transform: scale(1.1);
}

#register-to-newsletter {
    position: absolute;
    right: 10%;
    top: 30%;
}

#newletter-input-text, #newletter-input-submit {
    padding: 10px;
    border-radius: 5px;
    display: block;
    text-align: center;
}

#newletter-input-text {
    width: 400px;
}

#newletter-input-submit {
    margin: 0 auto;
    margin-top: 20px;
    width: 200px;
    border: 2px solid rgb(51, 51, 51);
}


/* Categories */

.wrapper-cat-img {
    background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(225,225,225,1) 0%, rgba(51,51,51,1) 54%);
    max-height: 400px;
    object-fit: cover;
    overflow: hidden;
    border: 4px solid rgb(223, 223, 223);
    box-shadow: 0px 1px 9px rgba(51, 51, 51, 0.2);
    position: relative;
}

.wrapper-cat-img img {
    /* filter: brightness(0.8) saturate(1.2); */
}

.wrapper-cat-img h2 {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    border-bottom: 2px solid #9F3D3D;
}

/* Footer */

footer {
    text-align: right;
    /* border-top: 3px solid rgb(223, 223, 223); */
    padding: 20px 0;
    position: relative;
}

footer::before {
    display: block;
    position: relative;
    content: '';
    height: 4px;
    width: 80%;
    margin: 0 auto;
    background-color: rgb(223, 223, 223);
    margin: 0 auto;
    top: -20px;
}

footer h3 {
    display: inline-block;  
    padding-bottom: 10px;
    border-bottom: 2px solid #9F3D3D;
}

#credits {
    position: relative;
}

#credits p {
    position: absolute;
    bottom: 0;
}

/* Sidebar */

#bar-sidebar {
    position: absolute;
    z-index: 999;
    border: 4px solid rgb(223, 223, 223);
    background-color: rgb(248, 248, 248);
    top: 50px;
    right: 15px;
    width: 300px;
    text-align: center;
    padding: 20px 0;
}

#bar-sidebar h3 {
    display: inline-block;
    border-bottom: 2px solid #9F3D3D;
    padding-bottom: 10px;
}

#bar-sidebar div {
    margin-bottom: 30px;
}